@import "./../../../shared.scss";

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  height: 100vh;
  width: 75%;
  margin: 2rem auto 0;

  .left {
    margin: auto 0;
    padding-top: 2rem;

    h1 {
      color: $color1;
      font-size: 2.5rem;
    }

    p {
      color: $color2;
      font-size: 1.25rem;
      line-height: 2.1rem;
      margin: 2rem 0;
    }
    .button {
      background-color: $color3;
      border: 2px solid $color3;
      border-radius: 50px;
      color: white;
      font-weight: bold;
      padding: 0.5rem 1.5rem;
      width: 28%;
      transition-duration: 1s;
      text-align: center;

      &:hover {
        background-color: white;
        color: $color3;
        cursor: pointer;
      }
    }
  }
  .right {
    margin: auto 0;
    img {
      border-radius: 50px;
      display: block;
      height: 60vh;
      object-fit: cover;
      margin: 0 auto;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .about {
    height: 120vh;
    margin: 0rem auto 0;

    .left {
      .button {
        width: 46%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .about {
    grid-template-columns: 1fr !important;
    gap: 4rem;

    width: 75%;
    padding-top: 2rem;
  }
  .right {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .about {
    padding-top: 0rem;
  }
  .button {
    width: 100% !important;
  }
}

@media only screen and (max-width: 300px) {
  .about {
    height: 150vh;
  }
}
