@import "./../../../shared.scss";

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 5vh;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  position: fixed;

  div {
    display: flex;
    align-items: center;
  }

  .header-name {
    color: $color1;

    h1 {
      font-size: 1.75rem;
    }

    .icon {
      font-size: 1.5rem;
      margin-left: 0.25rem;
    }
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0 5rem;

    li {
      font-size: 1.1rem;
      list-style: none;
      padding: 0 2.3rem;

      a {
        color: $color1;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .buttons {
    h4 {
      background-color: white;
      border-radius: 5px;
      padding: 0.5rem 1.5rem;
    }
    .signIn-btn {
      border: 2px solid $color1;
      color: $color1;
      margin-right: 1.5rem;
      transition-duration: 1s;

      &:hover {
        background-color: $color1;
        color: white;
        cursor: pointer;
      }
    }
    .register-btn {
      border: 2px solid $color1;
      color: white;
      background-color: $color1;
      transition-duration: 1s;

      &:hover {
        background-color: white;
        cursor: pointer;
        color: $color1;
      }
    }
  }
}
